*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.nav-bar{
    background-color: rgb(100, 100, 230);
    display: flex;
    justify-content: space-between;
}

.nav-header{
    height: 40px;
    padding: 0px 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 37px;
}

.nav-header:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.sidebar-nav{
    width: 200px;
    height: -webkit-fill-available;
    background-color: rgb(178, 178, 184);
    position: absolute;
}

.sidebar-nav ul li{
    padding: 10px;
}

.sidebar-nav ul li:hover{
    background-color: rgb(60, 60, 62);
    color: #fff;
}